<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Janken</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="http://fonts.cdnfonts.com/css/games" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/game.css" />
  </head>
  <body>
    <div
      id="loading-screen"
      class="bg-[#9b8360ff] w-100 h-screen flex items-center justify-center"
    >
      <img src="./assets/imgs/loading.gif" alt="" />
    </div>

    <!-- GAME SCREEN -->
    <div id="game-screen" class="hidden bg-[#9C835F] min-h-screen">
      <div class="navigation-game flex p-6 gap-6 items-center">
        <a href="/" class="btn-back text-[#724C21] cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-[72px] w-[72px]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <div class="logo-game flex-initial w-[72px] h-[72px]">
          <img src="./assets/imgs/logo.png" alt="" />
        </div>
        <div class="tile-game text-[#F9B23D] text-[36px] font-sans">
          ROCK PAPER SCISSOR
        </div>
      </div>
      <div class="content-game container mx-auto flex w-100">
        <div class="panel-game flex-1 grid grid-cols-3 gap-4 items-center">
          <div
            id="username-player"
            class="p-4 text-[36px] tracking-[2px] uppercase font-bold text-center"
          >
            Player 1
          </div>
          <div
            class="p-4 text-[36px] tracking-[2px] uppercase font-bold text-center"
          ></div>
          <div
            id="username-computer"
            class="p-4 text-[36px] tracking-[2px] uppercase font-bold text-center"
          >
            -
          </div>
          <div class="h-fit">
            <div
              id="batu-player"
              onclick="playerChoose('batu')"
              class="item-suit player cursor-pointer w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[120px] mx-auto"
                src="./assets/imgs/batu.png"
                alt=""
              />
            </div>
          </div>
          <div class="h-fit"></div>
          <div class="h-fit">
            <div
              id="batu-com"
              class="item-suit com w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[120px] mx-auto"
                src="./assets/imgs/batu.png"
                alt=""
              />
            </div>
          </div>
          <div class="h-fit">
            <div
              id="kertas-player"
              onclick="playerChoose('kertas')"
              class="item-suit player cursor-pointer w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[140px] mx-auto"
                src="./assets/imgs/kertas.png"
                alt=""
              />
            </div>
          </div>
          <div class="h-7150px] p-4 text-center mt-[-100px]">
            <div
              id="text-versus"
              class="vs-text text-red-600 text-[100px] font-extrabold text-center"
            >
              VS
            </div>
            <div
              id="result-winner"
              class="winner hidden uppercase bg-[#4C9654] text-white text-wrap w-[250px] text-center p-4 mx-auto rotate-[-30deg] text-[38px]"
            >
              Player 1 Win
            </div>
            <div
              id="result-draw"
              class="draw hidden uppercase bg-[#035B0C] text-white text-wrap w-[250px] text-center p-4 mx-auto rotate-[-30deg] text-[38px]"
            >
              DRAW
            </div>
          </div>
          <div class="h-fit">
            <div
              id="kertas-com"
              class="item-suit com w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[140px] mx-auto"
                src="./assets/imgs/kertas.png"
                alt=""
              />
            </div>
          </div>
          <div class="h-fit">
            <div
              id="gunting-player"
              onclick="playerChoose('gunting')"
              class="item-suit player cursor-pointer w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[140px] mx-auto"
                src="./assets/imgs/gunting.png"
                alt=""
              />
            </div>
          </div>
          <div class="h-fit"></div>
          <div class="h-fit">
            <div
              id="gunting-com"
              class="item-suit com w-[200px] p-[20px] mx-auto rounded-[15px] h-[175px] flex items-center"
            >
              <img
                class="max-h-[140px] mx-auto"
                src="./assets/imgs/gunting.png"
                alt=""
              />
            </div>
          </div>
          <div class=""></div>
          <div class="cursor-pointer mt-[-100px]">
            <img
              onclick="restartGame()"
              class="mx-auto"
              src="./assets/imgs/refresh.png"
              alt=""
            />
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
    <!-- END GAME SCREEN -->
    <script src="js/core/game.js" text="text/javascript"></script>
    <script src="js/core/janken.js" text="text/javascript"></script>
    <script src="js/core/users.js" text="text/javascript"></script>
    <script src="js/core/player.js" text="text/javascript"></script>
    <script src="js/core/com.js" text="text/javascript"></script>
    <script type="text/javascript" src="js/game.js"></script>
  </body>
</html>
