<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/icons/icon.ico" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
      media="(min-width: 768px)"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      media="(max-width: 768px)"
    />

    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <title>Binar Challange</title>
  </head>
  <body>
    <main>
      <nav id="navbar-web" class="navbar navbar-expand-lg sticky-top">
        <div class="container d-flex justify-content-around">
          <div class="logo text-white">LOGO</div>
          <div class="navigation flex-fill">
            <a href="#">HOME</a>
            <a href="#">WORK</a>
            <a href="#">CONTACT</a>
            <a href="#">ABOUT ME</a>
          </div>
          <div class="auth">
            <a href="#">SIGN UP</a>
            <a href="#">LOGIN</a>
          </div>
        </div>
      </nav>

      <nav id="navbar-mobile" class="d-none d-lg-none d-xl-none d-sm-none navbar navbar-expand-lg sticky-top">
        <div class="content-navbar container-fluid">
          <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT ME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- HOME  -->
      <section id="home" class="w-100">
        <div
          class="container content-home d-flex align-items-start flex-column mb-3 justify-content-center w-100"
          style="height: 200px"
        >
          <div class="p-2 w-100 mt-auto">
            <h1 class="title">PLAY TRADITIONAL GAME</h1>
            <h3 class="subtitle">Experience new traditional play game</h3>
          </div>
          <div class="p-2 mb-auto w-100">
            <button id="btn-trial" type="button" class="btn btn-primary btn-play">
              TRIAL
            </button>
          </div>
          <div class="p-2 w-100">
            <div class="text-white">
              <span>THE STORY</span>
            </div>
            <div class="button">
              <img src="assets/icons/scroll-down.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- END HOME -->

      <!-- THE GAMES -->
      <section id="the-games">
        <div
          class="container content-the-games d-flex align-items-center mt-auto"
        >
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12 p-5 pe-0 text-start">
              <div class="title">What's so special?</div>
              <div class="subtitle">THE GAMES</div>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 p-3">
              <div
                id="carousel-game"
                class="carousel slide"
                data-bs-ride="true"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carousel-game"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carousel-game"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carousel-game"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="./assets/imgs/rockpaperstrategy-1600.jpg"
                      class=""
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="./assets/imgs/rockpaperstrategy-1600.jpg"
                      class=""
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="./assets/imgs/rockpaperstrategy-1600.jpg"
                      class=""
                      alt="..."
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carousel-game"
                  data-bs-slide="prev"
                >
                  <img src="./assets/icons/switch-left.svg" alt="" />
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carousel-game"
                  data-bs-slide="next"
                >
                  <img src="./assets/icons/switch-right.svg" alt="" />
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END THE GAMES -->

      <!-- FEATURES GAME -->
      <section id="features" class="d-flex align-items-center">
        <div class="container content-features flex-fill">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 offset-md-6 ps-5">
              <div class="title text-white text-start">What's so special?</div>
              <div class="subtitle text-white text-start mb-5">FEATURES</div>
              <div class="feature">
                <div class="timeline">
                  <div class="item-timeline d-flex active">
                    <div class="dot"></div>
                    <div class="">
                      <div class="title text-primary text-primary text-start">TRADITIONAL GAMES</div>
                      <p class="desc text-start text-400">
                        If you miss your childhood, we provide many traditional games here
                      </p>
                    </div>
                    
                  </div>
                  <div class="item-timeline d-flex">
                    <div class="dot"></div>
                    <div class="title text-primary text-start">
                      GAME SUIT
                    </div>
                  </div>
                  <div class="item-timeline d-flex">
                    <div class="dot"></div>
                    <div class="title text-primary text-start">
                      TBD
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <!-- END FEATURES GAME -->

      <!-- SYSTEM REQUIREMENTS -->
      <section id="system-requirements" class="d-flex align-items-center">
        <div class="vector w-100"></div>
        <div class="container content p-5 flex-fill w-100">
          <div class="row">
            <div class="col-12 text-center text-400 questions pb-4">
              Can My Computer Run this game?
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="title text-start mb-5">
                SYSTEM <br /> REQUIREMENTS
              </div>
              <div class="system-requirement d-flex flex-wrap">
                <div class="item-requirements p-3 w-50">
                  <div class="text-primary text-start">
                    OS:
                  </div>
                  <div class="desc text-start text-400">
                    Windows 7 64-bit only <br> (No OSX support at this time)
                  </div>
                </div>
                <div class="item-requirements p-3 w-50">
                  <div class="text-primary text-start">
                    PROCESSOR
                  </div>
                  <div class="desc text-start text-400">
                    Intel Core 2 Duo @ 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GHZ
                  </div>
                </div>
                <div class="item-requirements p-3 w-50">
                  <div class="text-primary text-start">
                    MEMORY
                  </div>
                  <div class="desc text-start text-400">
                    4 GB RAM
                  </div>
                </div>
                <div class="item-requirements p-3 w-50">
                  <div class="text-primary text-start">
                    STORAGE
                  </div>
                  <div class="desc text-start text-400">
                    8 GB available space
                  </div>
                </div>
                <div class="item-requirements w-100 p-3">
                  <div class="text-primary text-start">
                    Graphic
                  </div>
                  <div class="desc text-start text-400">
                    NVIDIA GeForce GTX 660 2GB or <br>
                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END SYSTEM REQUIREMENTS -->

      <!-- TOP SCORES -->
      <section id="top-scores" class="d-flex align-items-center">
        <div class="container content flex-fill p-5">
          <div class="row align-items-center">
            <div class="col-md-6 col-xs-12 col-sm-12">
              <h3 class="title arial text-white font-size-56">TOP SCORES</h3>
              <p class="desc text-400 font-size-18"> This top score from various games provided on this platform</p>
              <button class="btn btn-primary open-sans"> see more</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-10 col-sm-12 offset-md-2">
                  <div class="item-top-scores my-3 p-1">
                    <div class="header d-flex w-100 ps-2">
                      <div class="profile p-3">
                        <div class="vector">
                          <img src="./assets/imgs/evan-lahti.jpg" alt="">
                        </div>
                      </div>
                      <div class="name flex-fill p-3">
                        <h3 class="text-primary font-size-24 m-0">
                          Evan Lahti
                        </h3>
                        <p class="work-place text-white-50">PC Gamer</p>
                      </div>
                      <div class="twitter p-3">
                        <a href="#">
                          <img src="./assets/icons/twitter.svg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="content ps-2 ">
                      <p class="text-white">“One of my gaming highlights of the year.”</p>
                    </div>
                    <div class="date text-white-50 text-start ps-2 pb-2">
                      June 18, 2021
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12">
                  <div class="item-top-scores my-3 p-1">
                    <div class="header d-flex w-100 ps-2">
                      <div class="profile p-3">
                        <div class="vector">
                          <img src="./assets/imgs/jada-griffin.jpg" alt="">
                        </div>
                      </div>
                      <div class="name flex-fill p-3">
                        <h3 class="text-primary font-size-24 m-0">
                          Jada Griffin 
                        </h3>
                        <p class="work-place text-white-50">Nerdreactor</p>
                      </div>
                      <div class="twitter p-3">
                        <a href="#">
                          <img src="./assets/icons/twitter.svg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="content ps-2 ">
                      <p class="text-white">“The next big thing in the world of streaming and survival games.”</p>
                    </div>
                    <div class="date text-white-50 text-start ps-2 pb-2">
                      July 10, 2021
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12 offset-md-2">
                  <div class="item-top-scores my-3 p-1">
                    <div class="header d-flex w-100 ps-2">
                      <div class="profile p-3">
                        <div class="vector">
                          <img src="./assets/imgs/aaron-williams.jpg" alt="">
                        </div>
                      </div>
                      <div class="name flex-fill p-3">
                        <h3 class="text-primary font-size-24 m-0">
                          Aaron Williams 
                        </h3>
                        <p class="work-place text-white-50">Uproxx</p>
                      </div>
                      <div class="twitter p-3">
                        <a href="#">
                          <img src="./assets/icons/twitter.svg" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="content ps-2 ">
                      <p class="text-white">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                    </div>
                    <div class="date text-white-50 text-start ps-2 pb-2">
                      December 24, 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END TOP SCORES -->

      <!-- SUBSCRIBE -->

      <section id="subscribe" class="d-flex align-items-center">
        <div class="container content flex-fill">
          <div class="row align-items-center">
            <div class="col-md-5 d-mobile-none">
              <div class="illustration">
                <img src="./assets/imgs/skull.png" alt="">
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="questions text-white">
                Want to stay in <br> touch?
              </div>
              <div class="title text-white"> NEWSLETTER <br> SUBSCRIBE </div>
              <div class="desc text-white font-size-18">
                In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
              </div>
              <div class="form-subscribe py-3">
                <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="inputEmail" value="youremail@binar.co.id">
                      <label for="inputEmail">Your email address</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <button class="btn-primary open-sans">Subsribe now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END SUBSCRIBE -->

      <!-- FOOTER -->
      <section id="footer">
        <div class="container content ">
          <div class="navigation d-flex flex-row justify-content-end p-5 pe-0">
              <a href="#">Main</a>
              <a href="#">About</a>
              <a href="#">System Requirements</a>
              <a href="#">Quotes</a>
              <a href="#">
                <img src="./assets/icons/facebook.svg" alt="">
              </a>
              <a href="#">
                <img src="./assets/icons/twitter.svg" alt="">
              </a>
              <a href="#">
                <img src="./assets/icons/vector.svg" alt="">
              </a>
              <a href="#">
                <img src="./assets/icons/twitch.svg" alt="">
              </a>
          </div>
          <div class="divider"></div>
          <div id="information" class="d-flex flex-row align-items-center pt-3">
            <div class="copyright flex-fill">
              © 2018 Your Games, Inc. All Rights Reserved
            </div>
            <a href="#">PRIVACY POLICY</a>
            <div class="divider-bar"></div>
            <a href="#">About</a>
            <div class="divider-bar"></div>
            <a href="#">System Requirements</a>
          </div>
        </div>
      </section>

      <!-- END FOOTER -->
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="js/index.js" ></script>
  </body>
</html>
