<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- LOGIN SCREEN -->
    <div id="login-screen" class="min-h-screen bg-[#c3ac90]">
      <div
        class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
      >
        <div class="max-w-md w-full space-y-8 bg-white p-32 px-16 rounded-md">
          <div>
            <img
              class="mx-auto h-12 w-auto"
              src="assets/imgs/logo.png"
              alt="Workflow"
            />
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
              Form Login
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
              Enter your email and password to login
            </p>
          </div>
          <form class="mt-8 space-y-6" action="/login" method="POST">
            <div class="rounded-md shadow-sm -space-y-px">
              <div>
                <label for="email-address" class="sr-only">Email address</label>
                <input
                  id="email-address"
                  name="email"
                  type="email"
                  autocomplete="email"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-[#714c21] focus:border-[#714c21] focus:z-10 sm:text-sm"
                  placeholder="Email address"
                  value="admin@admin.com"
                />
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-[#714c21] focus:border-[#714c21] focus:z-10 sm:text-sm"
                  placeholder="Password"
                  value="a"
                />
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#9a6f58] hover:bg-[#714c21] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#714c21]"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END LOGIN SCREEN -->
    <!-- <script type="text/javascript" src="js/login.js"></script> -->
  </body>
</html>
