@import url('http://fonts.cdnfonts.com/css/sweet-darling');

.font-games{
    font-family: 'Games', sans-serif;
}

.font-sweet-darling{
    font-family: 'Sweet Darling', sans-serif;
}

.item-suit.active-com, .item-suit.active-player{
    background: #C4C4C4;
}

.panel-game{
    height: calc(100vh - 150px) !important
}